= render 'shared/side_bar'

.main-contents
  .chat-group-infomation
    .infomation-content
      %p{class: "group-name"} グループ名
      %p{class: "members"} Members
    .infomation-edit
      %a{href: ""}Edit
  .show-message
    .message-content
      %h5{class: "message-content__name"}名前名前
      %span{class: "message-content__date"}2018/09/09 07:22:15
      %p{class: "message-content__text"}テキストテキストテキスト!!!!!!!!!!!!!!!!
  .post-message
    = form_for [@group, @message] do |f|
      = f.text_field :body, class: 'post-message__form-area', placeholder: "type a message"
      .form__upload-label
        = f.label :image, class: 'form__upload-label__image' do
          = fa_icon 'image', class: 'icon'
          =f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'send-button'
