= render 'shared/side_bar'

.main-contents
  .chat-group-infomation
    .infomation-content
      %p{class: "group-name"}
        = @group.name
      %p{class: "members"}
        Member:
        - @group.users.each do |user|
          = user.name
    .infomation-edit
      %a{href: ""}Edit

  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :body, class: 'form__form-area', placeholder: "type a message"
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'image', class: 'icon'
          =f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'send-button'
